<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Chúng tôi có những gì bạn cần!</h2>
                <hr class="light">
                <p class="text-faded">
				Keri có tất cả những dịch vụ bạn cần để thực hiện tất cả nghiệp vụ kế toán, quản lý bán hàng, giáo dục. Nghiệp vụ có thể thực hiện tiện lợi trên cả PC và Smart Device!</p>
                <a href="#" class="btn btn-default btn-xl">Hãy bắt đầu nhé!</a>
            </div>
        </div>
    </div>
</section>
