<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Giải pháp kế toán, quản lý bán hàng chuyên nghiệp dễ dàng của mọi cá nhân, doanh nghiệp!</h1>
            <hr>
            <p>Keri giúp bạn thực hiện nghiệp vụ kế toán vô cùng dễ dàng và nhanh chóng! Chỉ cần vài cái nhấp chuột mọi thứ sẽ trở nên hoàn chỉnh, như ý muốn!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Tìm hiểu thêm</a>
        </div>
    </div>
</header>