<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/keri-phan-mem-ke-toan-trong-tam-tay.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Kế toán trong tầm tay
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/keri-phan-mem-quan-ly-ban-hang-moi-luc-moi-noi.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Kết nối mọi nơi
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/keri-phan-mem-ke-toan-chay-tren-dien-thoai-va-ipad-tablet.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Chạy trên Smart Device (điện thoại và Ipad/Tablet)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Thống kê dễ dàng
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Đơn giản, hiện đại
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Nhanh chóng, dễ dàng
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
