<section id="recruitement">
    <div class="container">
	 <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cần tuyển 10 nhân viên kinh doanh</h2>
                <hr class="primary">
				</div>
        <div class="row">      
			<div class="col-md-6 col-lg-4  ">	
			<img src="img/portfolio/keri-tuyen-dung.jpg" class="img">
			
			</div>		
			<div class="col-md-6 col-lg-4">	
                <p stye="text-align:left">
MÔ TẢ CÔNG VIỆC<br/> 
1. Tư vấn, trao đổi với khách hàng về các sản phẩm dịch vụ của công ty như:<br/>
1.1. Phần mềm kế toán, <br/>
1.2. phần mềm quản lý giáo dục<br/>
1.3. Thiết kế web<br/>
1.4. Tìm kiếm khách hàng cần làm phần mềm<br/>
2. Duy trì target bán hàng theo tháng, quý<br/>
3. Duy trì và mở rộng mối quan hệ với khách hàng<br/>
4. Sẽ được tranning về sản phẩm và kỹ năng giao tiếp, thương thảo hợp đồng theo lộ trình bởi các Leader tài năng<br/>
</p>
			</div>
		<div class="col-md-6 col-lg-4">	
                <p stye="text-align:left">
<i>YÊU CẦU CÔNG VIỆC<i><br/>
5. Tốt nghiệp Đại học, Cao đẳng các ngành nghề liên quan: Kinh doanh, công nghệ thông tin,......<br/>
6. Giao tiếp tốt, có kỹ năng phát triển thị trường<br/>
7. Địa điểm làm việc: Lầu 1, Phòng 205, Tòa Nhà SBI, Lô 6B, Đường Số 3, Công Viên Phần Mềm Quang Trung, Phường Tân Chánh Hiệp, Quận 12, Thành phố Hồ Chí Minh<br/><br/>

****QUYỀN LỢI ĐƯỢC HƯỞNG****<br/>
8. Thu nxhập khởi điểm: 7.5 - 15 triệu +++, Lương cứng (4.5 - 10 triệu, phụ thuộc năng lực và kinh nghiệm, có thể thỏa thuận trong buổi PV)
				</p>
		</div>
	</div>

</section>
