<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cần tuyển 10 nhân viên kinh doanh</h2>
                <hr class="primary">
                <p>
<pre>MÔ TẢ CÔNG VIỆC
- Tư vấn, trao đổi với khách hàng về các sản phẩm dịch vụ của công ty như:
Phần mềm kế toán, phần mềm quản lý giáo dục, thiết kế web
- Duy trì target bán hàng theo tháng, quý
- Duy trì và mở rộng mối quan hệ với khách hàng
- Sẽ được tranning về sản phẩm và kỹ năng giao tiếp, thương thảo hợp đồng theo lộ trình bởi các Leader tài năng
Link web công ty : http://keri.vn/
YÊU CẦU CÔNG VIỆC
- Tốt nghiệp Đại học, Cao đẳng các ngành nghề liên quan: Kinh doanh, công nghệ thông tin,......
- Ít nhất 1 năm kinh nghiệm kinh doanh, bán hàng, tư vấn. Có kinh nghiệm bán hoặc triển khai phần mềm là một lợi thế
- Giao tiếp tốt, có kỹ năng phát triển thị trường
- Địa điểm làm việc: Lầu 1, Phòng 205, Tòa Nhà SBI, Lô 6B, Đường Số 3, Công Viên Phần Mềm Quang Trung, Phường Tân Chánh Hiệp, Quận 12, Thành phố Hồ Chí Minh

****QUYỀN LỢI ĐƯỢC HƯỞNG****
- Thu nhập khởi điểm: 7.5 - 15 triệu +++, Lương cứng (4.5 - 10 triệu, phụ thuộc năng lực và kinh nghiệm, có thể thỏa thuận trong buổi PV)
</pre></p>
</div>
</div>
</section>
