<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Danh mục nghiệp vụ</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Quản trị nhân sự</h3>
                    <p class="text-muted">Quản lý phòng ban, quản lý nhóm, quản lý nhân viên</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Quản lý bán hàng</h3>
                    <p class="text-muted">Quản lý bán hàng nhiều đại lý, cập nhật doanh số theo thời gian thực!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Quản lý kho</h3>
                    <p class="text-muted">Quản lý kho hàng, quản lý phân phối sản phẩm đến các đại lý.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Quản lý công nợ</h3>
					<p class="text-muted">Nợ phải chi trả, Nợ phải thu, Báo nợ khác hàng, Báo nợ nhà cung cấp, Công nợ tổng quát/chi tiết, Đối chiếu công nợ</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Quản lý sổ quỹ</h3>
                    <p class="text-muted">Điều chỉnh số dư đầu kỳ. Theo dõi sổ quỹ!</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Quản lý doanh thu</h3>
                    <p class="text-muted">Doanh thu theo khách hàng hoặc theo nhân viên kinh doanh! Hỗ trợ cập nhật thông tin doanh thu theo thời gian thực bất kỳ lúc nào trên smart device!</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Quản lý chiết khấu, huê hồng</h3>
                    <p class="text-muted">Quản lý chiết khấu, huê hồng khách hàng, huê hồng nhà cung cấp</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Import/Export</h3>
                    <p class="text-muted">Hỗ trợ Import/Export tất cả các dữ liệu đang quản lý ra Excel.<br/>Hỗ trợ Import/Export tương thích các hệ thống khác như các ngân hàng hoặc theo yêu cầu</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Quản lý in ấn</h3>
                    <p class="text-muted">In phiếu xuất hàng loạt, hỗ trợ "in đè" hóa đơn báo cáo thuế. Lưu lại tất cả các trạng thái in ấn</p>
                </div>
            </div>
        </div>
		
		
		<div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Quản trị nhân sự222222</h3>
                    <p class="text-muted">Quản lý phòng ban, quản lý nhóm, quản lý nhân viên</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Quản lý bán hàng</h3>
                    <p class="text-muted">Quản lý bán hàng nhiều đại lý, cập nhật doanh số theo thời gian thực!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Quản lý kho</h3>
                    <p class="text-muted">Quản lý kho hàng, quản lý phân phối sản phẩm đến các đại lý.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Quản lý công nợ</h3>
					<p class="text-muted">Nợ phải chi trả, Nợ phải thu, Báo nợ khác hàng, Báo nợ nhà cung cấp, Công nợ tổng quát/chi tiết, Đối chiếu công nợ</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Quản lý sổ quỹ</h3>
                    <p class="text-muted">Điều chỉnh số dư đầu kỳ. Theo dõi sổ quỹ!</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Quản lý doanh thu</h3>
                    <p class="text-muted">Doanh thu theo khách hàng hoặc theo nhân viên kinh doanh! Hỗ trợ cập nhật thông tin doanh thu theo thời gian thực bất kỳ lúc nào trên smart device!</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Quản lý chiết khấu, huê hồng</h3>
                    <p class="text-muted">Quản lý chiết khấu, huê hồng khách hàng, huê hồng nhà cung cấp</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Import/Export</h3>
                    <p class="text-muted">Hỗ trợ Import/Export tất cả các dữ liệu đang quản lý ra Excel.<br/>Hỗ trợ Import/Export tương thích các hệ thống khác như các ngân hàng hoặc theo yêu cầu</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Quản lý in ấn</h3>
                    <p class="text-muted">In phiếu xuất hàng loạt, hỗ trợ "in đè" hóa đơn báo cáo thuế. Lưu lại tất cả các trạng thái in ấn</p>
                </div>
            </div>
        </div>
    </div>
</section>
