<!DOCTYPE HTML>

<html>
	<head>
		<title>Picture   </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body>

			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
							<h2>Hình ảnh giao lưu hợp tác với các công ty nước ngoài tại tòa nhà SBI- QTSC INCUBATOR </h2>
						<p class="special">Hình Ảnh </p>
						
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="img/activity/anh1.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="img/activity/anh5.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="img/activity/anh2.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="img/activity/anh3.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>		 		 
	</body>
</html>