<section class="no-padding" id="portfolio">
    <div class="container-fluid">
	    <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/keri-phan-mem-ke-toan-trong-tam-tay.jpg" class="img-responsive" alt="Keri - Phần mềm kế toán trong tầm tay">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Kế toán trong tầm tay
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/keri-phan-mem-quan-ly-ban-hang-moi-luc-moi-noi.jpg" class="img-responsive" alt="Keri - phần mềm kế toán mọi lúc, mọi nơi">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Kết nối mọi lúc, mọi nơi
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/keri-phan-mem-ke-toan-chay-tren-dien-thoai-va-ipad-tablet.jpg" class="img-responsive" alt="Keri - phần mềm kế toán chạy trên điện thoại, ipad, tablet và máy tính">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Chạy trên Smart Device (điện thoại và Ipad/Tablet)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/keri-phan-mem-ke-toan-de-dang-mien-phi.jpg" class="img-responsive" alt="Keri - phần mềm thực hiện nghiệp vụ kế toán đơn giản, tiện lợi, nhanh chóng">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Tiện lợi, nhanh chóng
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/keri-top-10-phan-mem-ke-toan-hien-dai.jpg" class="img-responsive" alt="Keri - Top 10 phần mềm kế toán">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Đơn giản, hiện đại
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/portfolio/keri-phan-mem-lam-ke-toan-nhanh-de-dang.jpg" class="img-responsive" alt="Keri - phần mềm làm kế toán nhanh và thống kê dễ dàng">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Thống kê dễ dàng
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			
			<div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/images/congty-keri-hop-tac-voi-doanh-nghiep-Han-Quoc3.jpg" class="img-responsive" alt="Keri - Hợp tác với các doanh nghiệp Hàn Quốc">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Hợp tác với các doanh nghiệp Hàn Quốc
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/images/congty-keri-hop-tac-voi-doanh-nghiep-Han-Quoc5.jpg" class="img-responsive" alt="Keri - Hợp tác với các doanh nghiệp Hàn Quốc">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Hợp tác với các doanh nghiệp Hàn Quốc
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" class="portfolio-box">
                    <img src="img/images/congty-keri-hop-tac-voi-doanh-nghiep-Han-Quoc1.jpg" class="img-responsive" alt="Keri - Hợp tác với các doanh nghiệp Hàn Quốc">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                KERI
                            </div>
                            <div class="project-name">
                                Hợp tác với các doanh nghiệp Hàn Quốc
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
