.content{
    perspective: 1000px;
}
.formThem{
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    width: 500px;
    max-width: 100%;
    background-color: white;
   transition: 0.35s all ease;
}
.formThem:hover{
    cursor: pointer;
    transform: translateZ(20px);
    box-shadow: 1px 1px 10px 1px gray;
}
.t-center{
    text-align: center;
}
.btn-center{
    display: block;
    margin: 10px auto;
}
.fw-bold{
    font-weight: bold;
}
.t-bold{
    font-weight: bold;
}
.t-bold td:nth-child(2){
    text-align: center;
}
.card-button{
    display: flex;
    z-index:1;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.button-left{
    font-size: 2rem;
    margin-right: 20px;
}
.button-right{
    font-size: 2rem;
}

/* **********Hiển thị DS*********** */
#modalDS{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
    overflow: auto;
}
#modal_contentDS{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    margin-top:20px;
    border: 0.05rem solid rgba(0, 0, 0,.3);
    border-radius: 1rem;

}
#modal_contentDS .card{
    padding: 20px;
}
#exit_modalDS{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*************HIỂN THỊ CN****************/
#modalCN{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
}
#modal_contentCN{
    position: relative;
    top: 25%;
    width: 500px;
    margin: 0 auto;
    margin-top:20px;
    background: white;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: -2px 4px 42px 12px rgba(0,0,0,0.3);
    border: 0.05rem solid rgba(0, 0, 0,.3);
    border-radius: 1rem;
    padding: 20px;
    box-sizing: border-box;

}
#modal_contentCN .card{
    box-shadow: none;
}
#btnCloseModal{
    margin-left: 20px;
    margin-right: 20px;
}
#btnCloseModalTTN{
    margin-right: 20px;
}
#exit_modalCN{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#btnAddpicture,#btnAddCN,#btnAddTinhtrang,#btnAddProduct,#btnAddEmployer{
    display: block;
}
#btnUpdatepicture,#btnUpdateCN,#btnUpdateTinhtrang,#btnUpdateCategory,#btnUpdateProduct,#btnUpdateDVH,#btnUpdateEmployer,#btnUpdatepictureFree{
    display: none;
}
.bg-table{
    position: relative;
}
.bg-table>.iconPlus{
    position: absolute;
    top: 0;
    right: 7px;
    display: inline-block;
    cursor: pointer;
    color: green;
}
.iconGroup{
    position: absolute;
    top: -4px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: green;
    flex-wrap: wrap;
    font-size: 14px;
}
.iconGroup span{
    margin-right: 5px;
    cursor: pointer;
}
.iconGroup span:first-child{
    color: orange;
}
.iconGroup span:nth-child(2){
    color: red;
}
.sidebar .sidebar-wrapper.sidebar-wrappertop{
    height: auto;
    padding-bottom: 0;
}
.boxButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.radios-group,.msvbBox{
    padding: 5px 10px;
    color: black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radios-lable{
    margin-right: 10px;
}
.form-check-group{
    flex: 1;
}
.form-check-group > .form-check{
    margin-top: 0;
}
.formSearch{
   flex: 1;
}
.wrapper {
    height: 100%;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .4); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .2);
  }
  .btn, .navbar .navbar-nav>a.btn{
      font-size: 1rem;
      padding: .375rem .75rem;
  }
  @media screen and (max-width : 1200px) {
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        padding: .75rem;
    }
    .table>thead>tr>th{
        font-size: 14px;
    }
  }
  .off-canvas-sidebar[data-color=mycolor]:after, .sidebar[data-color=mycolor]:after{
       background: linear-gradient(0deg, rgb(34 85 103) 26%, rgb(35 91 60) 99%);
    }
  .panel-header{
    background: linear-gradient(0deg, rgb(34 85 103) 26%, rgb(35 91 60) 99%);
  }
  .PictureFree{
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }